html, body {
  padding: 0;
  margin: 0;
}

.topbackground {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url(images/2Lmpagc.jpg);
  background-size: cover;
}
.nametitle {
  position: absolute;
  display: inline-block;
  color: white;
  left: 8vw;
  bottom: 15vw;
  font-family: 'Play', sans-serif;
  text-shadow: 2px 2px 5px darkred;
}
.nametitle h1 {
  font-size: 3vw;
}

.nametitle h3 {
  font-size: 2vw;
  line-height: .3vw;
}
.navbar {
  margin-top: -7vh;
  position: absolute;
  background: rgba(0,0,0,.6);
  width: 100vw;
  font-family: 'Play', sans-serif;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: .5vh 3.4vw;
}
.navbar a:hover{
  background-color: rgba(120,120,120,.6);
  transition: .3s;
}

.navbar li {
  list-style: none;
  font-size: 2vw;
  margin-left: 7vw;
  display: inline-block;
}

.bodycontent {
  position: relative;
  background-color: white;
  width: 100vw;
}

.post {
  position: relative;
  text-align: center;
  display: inline-block;
  margin-left: 19vw;
  margin-top: 5vh;
  width: 60vw;
  padding: 1vw;
  background-color: rgba(180,180,180,1);
  font-family: "Khula", sans-serif;
  box-shadow: 1px 1px 2px black
}
.post h1 {
  margin: 0;
  margin-bottom: 1vh;
  font-family: "Play", sans-serif;
}
.skillsright {
  float: left;
  display: none;
  background: #B37B7B;
  color: white;
  padding-top: 1vh;
  width: 20vw;
  height: 22vh;
  margin: 0;
  font-size: 1.2vw;
  overflow: hidden;
}
.skillsright ul{
  text-align: center;
  margin: 0;
  margin-left: -1.5vw;
  list-style: none;
}
.skillsright li{
  margin: 0;
}
.skillsleft {
  float: left;
  width: 20vw;
  font-size: 1.6vw;
  height: 22vh;
}
.skillsleft h3{
  position: relative;
  margin: .4vh 0;
  background: rgba(240,240,240,1);
  height: 7.4vh;
  line-height: 8.5vh;
  margin-top: 0;
}
#frontend img {
  width: 2vw;
  position: absolute;
  top: 2vh;
  right: .8vw;
}
#backend img {
  width: 2vw;
  position: absolute;
  top: 2vh;
  right: .8vw;
}
#others img {
  width: 2vw;
  position: absolute;
  top: 2vh;
  right: .8vw;
}
.skillsleft h3:hover {
  color: white;
  background-color: #B37B7B;
  transition: .5s;
}
.skillexpand {
  height: 23vh;
  width: 40vw;
  margin: 0 auto;
}
.fixed {
  position: fixed;
  margin-top: 0;
  top: 0vh;
  z-index: 20;
  background: rgba(0,0,0,.6);
  width: 100vw;
  height: 7vh;
  font-family: 'Play', sans-serif;
}
.githubicon {
  width: 54vw;
  margin-left: 3vw;
  z-index: 50;
}
.githubicon a{
  padding: 1%;
}
#projects p {
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  width: 90%;
  margin: 2vh auto;
}
#aboutme p{
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  width: 90%;
  margin: 2vh auto;
  text-align: center;
}
#aboutme {
  margin-bottom: 5vh;
}
footer {
  height: 15vh;
  width: 100%;
  background-color: black;
}
footer h3{
  margin: 0;
  color: white;
  font-family: 'Play', sans-serif;
  text-align: center;
  font-size: 2em;
  padding-top: .6em;
}
footer ul{
  margin-left: 41.5%;
}
footer li {
  list-style: none;
  display: inline;
  margin: 1%;
}
footer img{
  width: 5%;
}
.projectlist {
  display: none;
}
#project1 {
  display: block;
}
.toggleproject img{
  width: 5%;
  cursor: pointer;
}
#leftchev {
  position: absolute;
  left: 1%;
  top: 40vh;
}
#leftchev:hover{
  left: .5%;
  top: 39.8vh;
  transition: .4s;
}
#rightchev {
  position: absolute;
  right: 1%;
  top: 40vh;
}
#rightchev:hover{
  right: .5%;
  top: 39.8vh;
  transition: .4s;
}
.toggleproject img:hover{
  width: 5.5%;
  transition: .4s;
}