body {
  background-image: url(Images/portfoliobackground.png);
  background-size: contain;
  margin: 0;
  height: 95vh;
  width: 100vw;
  z-index: -500;
  position: relative;
  color: white;
}

.titleBlock {
  text-align: center;
  color: lightslategray;
}

.myName{
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.myTitle{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.projectsContainer {
  width: 50%;
  height: 60%;
  position: relative;
  background-color: rgba(100,100,100,.5);
  text-align: center;
  overflow: hidden;
}

.projectImage {
  width: 80%;
  height: 80%;
}

#rightarrow {
  position: absolute;
  top: 49%;
  right: 4%;
  width: 25px;
  height: 25px;
  transform: rotate(90deg)
}
#leftarrow {
  position: absolute;
  top: 49%;
  left: 4%;
  width: 25px;
  height: 25px;
  transform: rotate(-90deg)
}
.projectArrows {
  opacity: .8;
}
.myskillscontainer {
  width: 50vw;
  height: 60vh;
  
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.myskillscontainer div {
  list-style: none;
  margin: 0;
  float: left;
  width: 30%;
  margin: 1%;
  overflow: hidden;
  background-color: rgba(100,100,100,.5);
}
.myskillscontainer p {
  height: 5%;
  font-size: 1.5em;
  overflow: hidden;
  
}
#myskills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myprojects {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#AboutMe {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutmecontainer {
  height: 20vh;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.aboutmecontainer img {
  width: 20%;
  height: 100%;
  margin: 5px;
}
#footer {
  position: absolute;
  bottom: 1vh;
  font-size: 10px;
  color: darkgray;
  margin-left: 5%;
}
#footer a {
  text-decoration: none;
  color: darkgray;
}
.Navbar1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}
.Navbar1 li {
  margin-left: -30px;
}
.navbarcontainer {
  display: flex;
  justify-content: center;
}
