body {
  background-image: url(Images/portfoliobackground.png);
  background-size: contain;
  margin: 0;
  height: 95vh;
  width: 100vw;
  z-index: -500;
  position: relative;
  color: white;
}
h1 {
  font-family: "Play";
  margin: 10px;
}
.titleBlock {
  text-align: center;
  color: lightslategray;
  margin-top: 3%;
}

.titleBlock img:first-child {
  width: 35%;
}

.titleBlock img:last-child {
  width: 25%;
}

.myTitle{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.projectsContainer {
  width: 50%;
  height: 60%;
  position: relative;
  background-color: rgba(100,100,100,.5);
  text-align: center;
  overflow: hidden;
  font-size: 18px;
  font-family: "Lato";
}

.projectImage {
  width: 80%;
  height: 80%;
}

#rightarrow {
  position: absolute;
  top: 49%;
  right: 4%;
  width: 25px;
  height: 25px;
  transform: rotate(90deg)
}
#rightarrow:hover {
  width: 30px;
  height: 30px;
  top: 48.5%;
  right: 3.5%;
  transition-duration: .15s;
}
#leftarrow:hover {
  width: 30px;
  height: 30px;
  top: 48.5%;
  left: 3.5%;
  transition-duration: .15s;
}
#leftarrow {
  position: absolute;
  top: 49%;
  left: 4%;
  width: 25px;
  height: 25px;
  transform: rotate(-90deg)
}
.projectArrows {
  opacity: .8;
  cursor: pointer;
}
.myskillscontainer {
  width: 50vw;
  height: 60vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.myskillscontainer div {
  list-style: none;
  margin: 0;
  float: left;
  width: 30%;
  margin: 1%;
  overflow: hidden;
  background-color: rgba(100,100,100,.5);
}
.myskillscontainer p {
  height: 5%;
  font-size: 1.5em;
  overflow: hidden;
  
}
#myskills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Play";
}
#myprojects {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myprojects h1{
  font-family: "Play";
}
#myprojects h2 {
  font-family: "Play";
}
#AboutMe {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutmecontainer {
  height: 25vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-family: "Lato";
}
.aboutmetype {
  width: 40vw;
  background: rgba(100,100,100,.3);
  padding: 15px;
}
.aboutmetype p {
  margin: 0;
  font-kerning: none;
  word-spacing: 3px;
}
.aboutmecontainer img {
  width: 205px;
  height: 235px;
  margin: 5px;
}
#footer {
  position: absolute;
  bottom: 1vh;
  font-size: 10px;
  color: darkgray;
  margin-left: 5%;
}
#footer a {
  text-decoration: none;
  color: darkgray;
}
.Navbar1 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  font-family: "Play";
  font-size: 20px;
}
.Navbar1 li {
  margin-left: -38px;
  padding: 10px;
}
.Navbar1 li:hover{
  color: lightblue;
  background: rgba(100,100,100,.3);
  padding: 10px;
  transition-duration: .2s;
  cursor: pointer;
}
.navbarcontainer {
  display: flex;
  justify-content: center;
}
