html {
  background-color: black;
}
body {
  background: url(Images/portfoliobackground.png) no-repeat 50% 0;
  background-size: cover;
  margin: 0;
  height: 100vh;
  width: 100%;
  z-index: -500;
  position: relative;
  color: white;
  overflow: hidden;
}
ul {
  padding: 0;
}
h1 {
  font-family: "Play";
  margin: 10px;
}
.titleBlock {
  text-align: center;
  color: lightslategray;
  margin-top: 1em;
}

.titleBlock img:first-child {
  width: 35%;
  min-width: 320px;
}

.titleBlock img:last-child {
  width: 25%;
  min-width: 23em;
}

/*
.myTitle{
  font-size: 30px;
  display: flex;
  justify-content: center;
}
*/
#myprojects {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myprojects h1{
  font-family: "Play";
}
#myprojects h2 {
  font-family: "Play";
}

.projectNavBar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  font-family: "Play";
  font-size: 1.2em;
  margin: 0;
  margin-top: 1em;
}
.projectNavBar li{
  padding: .5em 1.5em;
  text-align: center;
  cursor: pointer;
}
.projectNavBar li:hover{
  background-color: rgba(100,100,100,.3);
  color: lightblue;
  transition-duration: .3s;
}
.projectsContainer {
  width: 70em;
  height: 32em;
  position: relative;
  background-color: rgba(100,100,100,.5);
  overflow: hidden;
  font-size: 18px;
  font-family: "Lato";
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectsContainer h2{
  margin: 0;
}
.description{
  width: 29em;
  display: flex;
  flex-flow: column;
  padding-left: 3em;
}
.description li{
  list-style: none;
}
.techList li{
  list-style: square;
}
.projectImage {
  width: 35em;
  height: 20em;
}
#rightarrow {
  position: absolute;
  top: 4%;
  right: 25%;
  width: 5em;
}
#rightarrow:hover {
  width: 5.5em;
  top: 3.5%;
  right: 24.5%;
  transition-duration: .15s;
}
#leftarrow:hover {
  width: 5.5em;
  top: 3.5%;
  left: 24.5%;
  transition-duration: .15s;
}
#leftarrow {
  position: absolute;
  top: 4%;
  left: 25%;
  width: 5em;
}
.projectArrows {
  opacity: .8;
  cursor: pointer;
}
.projectLinks {
  float: right;
  display: block;
  position: absolute;
  right: 1%;
  bottom: 10%;
  width: 10em;
}
.projectLinks h2{
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 0;
}
.projectLinks h2:hover{
  color: lightblue;
  transition-duration: .3s;
}

.myskillscontainer {
  width: 90em;
  height: 25em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.myskillscontainer div {
  list-style: none;
  margin: 0;
  float: left;
  width: 16em;
  margin: .5em;
  overflow: hidden;
  background-color: rgba(100,100,100,.5);
}
.myskillscontainer p {
  font-size: 1.5em;
  overflow: hidden;
}
#myskills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Play";
}

#AboutMe {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutmecontainer {
  height: 15em;
  max-width: 56.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-family: "Lato";
}
.aboutmetype {
  max-width: 720px;
  background: rgba(100,100,100,.3);
  padding: 15px;
}
.aboutmetype p {
  margin: 0;
  font-kerning: none;
  word-spacing: 3px;
}
.aboutmecontainer img {
  width: 12.5em;
  height: 13em;
  margin: .5em;
}
#footer {
  position: absolute;
  bottom: .5em;
  left: 40em;
  font-size: 10px;
  color: darkgray;
}
#footer a {
  text-decoration: none;
  color: darkgray;
}
.Navbar1 {
  width: 60%;
  max-width: 30em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  font-family: "Play";
  font-size: 2em;
  margin: auto;
  margin-top: 1em;
}

.Navbar1 li {
  text-align: center;
  padding: 5px;
}

.Navbar1 li:hover{
  color: lightblue;
  background: rgba(100,100,100,.3);
  transition-duration: .2s;
  cursor: pointer;
}
.contactLinks{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactLinks img{
  width: 9em;
  opacity: .7;
  margin: 2em;
}
#contactContainer {
  width: 80em;
  height: 30em;
  margin: 5em auto;
  text-align: center;
}
#welcomePanel {
  display: flex;
  align-content: center;
  justify-content: center;
  opacity: .7;
}
#welcomePanel img{
  width: 62.5%;
  height: 50%;
  min-width: 300px;
}
.smallScreenButtons{
  display: none;
}
@media(max-width: 900px){
  body {
    overflow: visible;
  }
  .Navbar1 {
	font-size: 1.4em;
  }
  .aboutmecontainer{
    display: block;
  }
}
@media(max-width: 600px){
  body {
    background-image: none;
    font-size: 12px;
  }
  .Navbar1 {
    display: block;
    width: 80%;
    margin-bottom: .5em;
    font-size: 1.8em;
  }
  .Navbar1 li{
    display: block;
    padding: .1em;
    background: rgba(150,150,150,.5);
    margin: 2px 0;
  }
  .aboutmecontainer {
	font-size: 1.2em;
  }
  #myprojects {
    display: block;
    margin: 0;
  }
  
  .projectsContainer {
	display: block;
    background: rgba(100,100,100,.3);
    margin: auto 0;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .projectNavBar {
    display: block;
    margin: 0 auto;
  }
  #leftarrow, #rightarrow {
	display: none;
  }
  #projectImg {
    width: 100%;
    height: auto;
    
  }
  .projectLinks{
	display: block;
    float: none;
  }
  .projectLinks a{
    margin: auto 0;
    position: fixed;
    display: block;
  }
  .description {
	display: block;
    width: 95%;
    padding: 0;
    margin: auto 2.5%;
    text-align: center;
  }
  .description li{
    text-align: center;
    margin: auto 0;
    list-style: none;
    font-size: 16px;
  }
  .smallScreenButtons {
    display: block;
  }
  .smallScreenButtons h3{
	width: 50%;
    margin: 8px 0;
    float: left;
    text-align: center;
  }
  .smallScreenButtons h3:hover{
    background: rgba(100,100,100,.3);
    color: deepskyblue;
  }
}