html {
  background-color: black;
}
body {
  background-image: url(Images/portfoliobackground.png);
  background-size: cover;
  margin: 0;
  height: 98vh;
  width: 100vw;
  z-index: -500;
  position: relative;
  color: white;
}
h1 {
  font-family: "Play";
  margin: 10px;
}
.titleBlock {
  text-align: center;
  color: lightslategray;
  margin-top: 1em;
}

.titleBlock img:first-child {
  width: 35%;
}

.titleBlock img:last-child {
  width: 25%;
}

.myTitle{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.projectsContainer {
  width: 48em;
  height: 33.5em;
  position: relative;
  background-color: rgba(100,100,100,.5);
  text-align: center;
  overflow: hidden;
  font-size: 18px;
  font-family: "Lato";
  overflow: hidden;
  padding: 10px;
}

.projectImage {
  width: 38em;
  height: 21em;
}

#rightarrow {
  position: absolute;
  top: 49%;
  right: 2%;
  width: 60px;
}
#rightarrow:hover {
  width: 65px;
  top: 48.5%;
  right: 1.7%;
  transition-duration: .15s;
}
#leftarrow:hover {
  width: 65px;
  top: 48.5%;
  left: 1.7%;
  transition-duration: .15s;
}
#leftarrow {
  position: absolute;
  top: 49%;
  left: 2%;
  width: 60px;
}
.projectArrows {
  opacity: .8;
  cursor: pointer;
}
.myskillscontainer {
  width: 90em;
  height: 25em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.myskillscontainer div {
  list-style: none;
  margin: 0;
  float: left;
  width: 16em;
  margin: .5em;
  overflow: hidden;
  background-color: rgba(100,100,100,.5);
}
.myskillscontainer p {
  font-size: 1.5em;
  overflow: hidden;
}
#myskills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Play";
}
#myprojects {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myprojects h1{
  font-family: "Play";
}
#myprojects h2 {
  font-family: "Play";
}
#AboutMe {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutmecontainer {
  height: 15em;
  width: 56em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-family: "Lato";
}
.aboutmetype {
  width: 39em;
  background: rgba(100,100,100,.3);
  padding: 15px;
}
.aboutmetype p {
  margin: 0;
  font-kerning: none;
  word-spacing: 3px;
}
.aboutmecontainer img {
  width: 205px;
  height: 235px;
  margin: 5px;
}
#footer {
  position: absolute;
  bottom: .5em;
  left: 40em;
  font-size: 10px;
  color: darkgray;
}
#footer a {
  text-decoration: none;
  color: darkgray;
}
.Navbar1 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  font-family: "Play";
  font-size: 2em;
  margin: 0;
  margin-top: 1em;
}

.Navbar1 li {
  padding: 10px;
}
.Navbar1 li:hover{
  color: lightblue;
  background: rgba(100,100,100,.3);
  padding: 10px;
  transition-duration: .2s;
  cursor: pointer;
}
.navbarcontainer {
  display: flex;
  justify-content: center;
}
#githubproject {
  float: left;
  position: absolute;
  top: 1em;
  right: 8em;
  width: 40px;
}
#webproject {
  float: left;
  position: absolute;
  top: 1em;
  right: 5.3em;
  width: 40px;
}
.contactLinks{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactLinks img{
  width: 9em;
  opacity: .7;
  margin: 2em;
}
#contactContainer {
  width: 80em;
  height: 30em;
  margin: 5em auto;
  text-align: center;
}
#welcomePanel {
  display: flex;
  align-content: center;
  justify-content: center;
  opacity: .7;
}
